<table border="1">
<tr><td>picture</td><td><img src="{{authById.picture}}" height="150" width="200" alt="User Picture"></td></tr>
<tr><td>username</td><td>{{authById.username}}</td></tr>
<tr><td>email</td><td>{{authById.email}}</td></tr>
<tr><td>nb_books</td><td>{{authById.nb_books}}</td></tr>
</table>
